{% extends 'base.html.twig' %}

{% block title %}Edit Ptypesociete{% endblock %}

{% block body %}
    <h1>Edit Ptypesociete</h1>

    {{ include('ptypesociete/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ptypesociete_index') }}">back to list</a>

    {{ include('ptypesociete/_delete_form.html.twig') }}
{% endblock %}
