{% extends 'base.html.twig' %}

{% block title %}Ptypesociete index{% endblock %}

{% block body %}
    <h1>Ptypesociete index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ptypesociete in ptypesocietes %}
            <tr>
                <td>{{ ptypesociete.id }}</td>
                <td>{{ ptypesociete.intitule }}</td>
                <td>
                    <a href="{{ path('ptypesociete_show', {'id': ptypesociete.id}) }}">show</a>
                    <a href="{{ path('ptypesociete_edit', {'id': ptypesociete.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ptypesociete_new') }}">Create new</a>
{% endblock %}
