{% extends 'base.html.twig' %}

{% block title %}New Ptypesociete{% endblock %}

{% block body %}
    <h1>Create new Ptypesociete</h1>

    {{ include('ptypesociete/_form.html.twig') }}

    <a href="{{ path('ptypesociete_index') }}">back to list</a>
{% endblock %}
