{% extends 'base.html.twig' %}

{% block title %}Edit Poption{% endblock %}

{% block body %}
    <h1>Edit Poption</h1>

    {{ include('poption/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('poption_index') }}">back to list</a>

    {{ include('poption/_delete_form.html.twig') }}
{% endblock %}
