{% extends 'base.html.twig' %}

{% block title %}Poption index{% endblock %}

{% block body %}
    <h1>Poption index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poption in poptions %}
            <tr>
                <td>{{ poption.id }}</td>
                <td>{{ poption.intitule }}</td>
                <td>
                    <a href="{{ path('poption_show', {'id': poption.id}) }}">show</a>
                    <a href="{{ path('poption_edit', {'id': poption.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poption_new') }}">Create new</a>
{% endblock %}
