{% extends 'base.html.twig' %}

{% block title %}Edit Psociete{% endblock %}

{% block body %}
    <h1>Edit Psociete</h1>

    {{ include('psociete/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('psociete_index') }}">back to list</a>

    {{ include('psociete/_delete_form.html.twig') }}
{% endblock %}
