{% extends 'base.html.twig' %}

{% block title %}New Psociete{% endblock %}

{% block body %}
    <h1>Create new Psociete</h1>

    {{ include('psociete/_form.html.twig') }}

    <a href="{{ path('psociete_index') }}">back to list</a>
{% endblock %}
