{% extends 'base.html.twig' %}

{% block title %}Tclient index{% endblock %}

{% block body %}
    <div class=" float-right ">
        <a href="{{ path('tclient_new') }}" class="btn btn-dark font-weight-bold px-6">Create new</a>
    </div>
    <h3 class="text-center my-4">Liste des clients</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Numpasseport</th>
                <th>Datexp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tclient in tclients %}
            <tr>
                <td>{{ tclient.nom }}</td>
                <td>{{ tclient.prenom }}</td>
                <td>{{ tclient.telephone }}</td>
                <td>{{ tclient.numpasseport }}</td>
                <td>{{ tclient.datexp ? tclient.datexp|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('tclient_show', {'id': tclient.id}) }}">show</a>
                    <a href="{{ path('tclient_edit', {'id': tclient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
