{% extends 'base.html.twig' %}

{% block title %}Tclient{% endblock %}

{% block body %}
    <h1>Tclient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tclient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tclient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tclient.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ tclient.telephone }}</td>
            </tr>
            <tr>
                <th>Numpasseport</th>
                <td>{{ tclient.numpasseport }}</td>
            </tr>
            <tr>
                <th>Datexp</th>
                <td>{{ tclient.datexp ? tclient.datexp|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tclient_index') }}">back to list</a>

    <a href="{{ path('tclient_edit', {'id': tclient.id}) }}">edit</a>

    {{ include('tclient/_delete_form.html.twig') }}
{% endblock %}
