{% extends 'base.html.twig' %}

{% block title %}Edit Tcategorie{% endblock %}

{% block body %}
    <h1>Edit Tcategorie</h1>

    {{ include('tcategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tcategorie_index') }}">back to list</a>

    {{ include('tcategorie/_delete_form.html.twig') }}
{% endblock %}
