{% extends 'base.html.twig' %}

{% block title %}Tcategorie index{% endblock %}

{% block body %}
    <h1>Tcategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tcategorie in tcategories %}
            <tr>
                <td>{{ tcategorie.id }}</td>
                <td>{{ tcategorie.intitule }}</td>
                <td>{{ tcategorie.code }}</td>
                <td>
                    <a href="{{ path('tcategorie_show', {'id': tcategorie.id}) }}">show</a>
                    <a href="{{ path('tcategorie_edit', {'id': tcategorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tcategorie_new') }}">Create new</a>
{% endblock %}
