{% extends 'base.html.twig' %}

{% block title %}New Tcategorie{% endblock %}

{% block body %}
    <h1>Create new Tcategorie</h1>

    {{ include('tcategorie/_form.html.twig') }}

    <a href="{{ path('tcategorie_index') }}">back to list</a>
{% endblock %}
