<form method="post" action="{{ path('pmodepaiement_delete', {'id': pmodepaiement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pmodepaiement.id) }}">
    <button class="btn">Delete</button>
</form>
