{% extends 'base.html.twig' %}

{% block title %}Pmodepaiement index{% endblock %}

{% block body %}
    <h1>Pmodepaiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pmodepaiement in pmodepaiements %}
            <tr>
                <td>{{ pmodepaiement.id }}</td>
                <td>{{ pmodepaiement.intitule }}</td>
                <td>{{ pmodepaiement.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('pmodepaiement_show', {'id': pmodepaiement.id}) }}">show</a>
                    <a href="{{ path('pmodepaiement_edit', {'id': pmodepaiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pmodepaiement_new') }}">Create new</a>
{% endblock %}
