{% extends 'base.html.twig' %}

{% block title %}New Pmodepaiement{% endblock %}

{% block body %}
    <h1>Create new Pmodepaiement</h1>

    {{ include('pmodepaiement/_form.html.twig') }}

    <a href="{{ path('pmodepaiement_index') }}">back to list</a>
{% endblock %}
