{% extends 'base.html.twig' %}

{% block title %}Edit Preduction{% endblock %}

{% block body %}
    <h1>Edit Preduction</h1>

    {{ include('preduction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('preduction_index') }}">back to list</a>

    {{ include('preduction/_delete_form.html.twig') }}
{% endblock %}
