{% extends 'base.html.twig' %}

{% block title %}Edit Tprestation{% endblock %}

{% block body %}
    <h1>Edit Tprestation</h1>

    {{ include('tprestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tprestation_index') }}">back to list</a>

    {{ include('tprestation/_delete_form.html.twig') }}
{% endblock %}
