{% extends 'base.html.twig' %}

{% block title %}Tprestation index{% endblock %}

{% block body %}
    <h1>Tprestation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Prix</th>
                <th>Codeprestation</th>
                <th>Isvendable</th>
                <th>Isfree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tprestation in tprestations %}
            <tr>
                <td>{{ tprestation.id }}</td>
                <td>{{ tprestation.intitule }}</td>
                <td>{{ tprestation.prix }}</td>
                <td>{{ tprestation.codeprestation }}</td>
                <td>{{ tprestation.Isvendable ? 'Yes' : 'No' }}</td>
                <td>{{ tprestation.Isfree ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tprestation_show', {'id': tprestation.id}) }}">show</a>
                    <a href="{{ path('tprestation_edit', {'id': tprestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tprestation_new') }}">Create new</a>
{% endblock %}
