{% extends 'base.html.twig' %}

{% block title %}Edit Tchambre{% endblock %}

{% block body %}
    <h1>Edit Tchambre</h1>

    {{ include('tchambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tchambre_index') }}">back to list</a>

    {{ include('tchambre/_delete_form.html.twig') }}
{% endblock %}
