{% extends 'base.html.twig' %}

{% block title %}Tchambre index{% endblock %}

{% block body %}
    <h1>Tchambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Numchambre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tchambre in tchambres %}
            <tr>
                <td>{{ tchambre.id }}</td>
                <td>{{ tchambre.prix }}</td>
                <td>{{ tchambre.description }}</td>
                <td>{{ tchambre.numchambre }}</td>
                <td>
                    <a href="{{ path('tchambre_show', {'id': tchambre.id}) }}">show</a>
                    <a href="{{ path('tchambre_edit', {'id': tchambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tchambre_new') }}">Create new</a>
{% endblock %}
