{% extends 'base.html.twig' %}

{% block title %}New Tchambre{% endblock %}

{% block body %}
    <h1>Create new Tchambre</h1>

    {{ include('tchambre/_form.html.twig') }}

    <a href="{{ path('tchambre_index') }}">back to list</a>
{% endblock %}
