{% extends 'base.html.twig' %}

{% block title %}Tchambre{% endblock %}

{% block body %}
    <h1>Tchambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tchambre.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tchambre.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tchambre.description }}</td>
            </tr>
            <tr>
                <th>Numchambre</th>
                <td>{{ tchambre.numchambre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tchambre_index') }}">back to list</a>

    <a href="{{ path('tchambre_edit', {'id': tchambre.id}) }}">edit</a>

    {{ include('tchambre/_delete_form.html.twig') }}
{% endblock %}
